/* core styles*/
body {
  font-family: sans-serif;
}

.main-header__brand img {
  width: 100px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.to-uppercase {
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}
.main-navigation {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation__item {
  display: inline-block;
  padding: 10px;
}

.main-header__brand {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation__item a {
  color: #05364d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.main-navigation__item a:hover {
  color: #efb6cf;
}

.main-navigation__item.active a {
  color: #efb6cf;
}

.main-section {
  padding: 100px 30px;
}

.main-section > div {
  width: 50%;
  float: left;
}

img {
  width: 250px;
}

.main-section__image {
  text-align: right;
}

.main-section__welcome {
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  letter-spacing: 2px;
  color: #797979;
}

.main-section__introduction {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #05364e;
}
.main-section__position {
  color: #05364e;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.main-section__action {
  margin-top: 30px;
  border: none;
  background-color: #1c44e4;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 5px;
}

/* Statistics section */
.statistics{
  padding-top: 100px;
}
.statistics__item {
  display: inline-block;
  width: 150px;
  background-color: #f8faff;
  padding: 5px 10px;text-align: center;
  margin-right: 20px;
}

.statistics__number{
    font-size: 27px;
    margin-bottom: 5px;
    color: #1c44e4;
}
.statistics_title{
    font-size: 16px;
    color: #797979;
}
.main-section__social-link{
    color: #05364e;
    font-size: 20px;
    margin-right: 15px;
}
.main-section__social-link:hover{
    color: #1c44e4;
    cursor: pointer;
}
.main-section__action:hover{
    background: linear-gradient(45deg, #1c44e4, pink);
    
}